/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  text-shadow: 1px 1px 3px #000000ad;
}

a:visited {
  color: inherit;
}

/* page */
.wrapper {
  padding-top: 20px;
  width: 900px;
  margin: 0 auto;
}
.logo {
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
.filters {
  padding-top: 20px;
  display: flex;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  width: 100%;
  padding-top: 20px;
}

/* dropdown component */
.component-dropdown-container {
  position: relative;
  margin: 5px;
  border: 2px solid #ccc;
  text-align: center;
  border-radius: 3px;
}

.component-dropdown-container.disabled .component-dropdown-value {
  opacity: 0.5;
  cursor: not-allowed;
}

.component-dropdown-value {
  padding: 10px 20px;
  cursor: pointer;
}
.component-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: none;
  list-style: none;
}
.component-dropdown-container.active .component-dropdown-list {
  display: block;
}
.component-dropdown-item {
  padding: 5px;
  cursor: pointer;
  border-top: 1px solid #ccc;
}
.component-dropdown-item:hover {
  background-color: #ccc;
}

/* card component */
.component-card {
  /* display: inline-block; */
  width: 33.2%;
  padding: 20px 5px;
}
.component-card-img {
  height: 170px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.component-card-brand {
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
}
.component-card-model {
  font-size: 19px;
}
.component-card-price {
  font-weight: bold;
  padding-top: 5px;
}
.component-card-descr {
  padding-top: 10px;
  font-size: 16px;
}

/* search button component */
.component-search {
  padding: 10px 20px;
  border: 2px solid #ccc;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.component-search.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* component page */
.component-page {
  width: 100%;
  display: flex;
}
.component-page-img {
  width: calc(100% - 300px);
  padding: 5px;
}
.component-page-img img {
  width: 100%;
}
.component-page-info {
  width: 300px;
  padding: 5px;
}
.component-page-title {
  font-size: 22px;
  font-weight: bold;
}
.component-page-price {
  font-weight: bold;
  padding-top: 5px;
}
.component-page-descr {
  padding-top: 10px;
  font-size: 16px;
}
.component-page-table {
  width: 100%;
  padding-top: 20px;
}
.component-page-table td:last-child {
  text-align: right;
  font-size: 14px;
  font-weight: bold;
}

/* router */
.router {
  position: relative;
}
.router .router-page {
  display: none;
}
.router .router-page.active {
  display: block;
}

/* loading */
.loading::before {
  display: block;
  position: absolute;
  top: 100px;
  left: calc(50% - 100px);
  content: " ";
  z-index: 2;
  background-image: url("/img/loading.gif");
  background-position: center center;
  background-size: 100%;
  width: 200px;
  height: 200px;
}
.loading::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
}

/* about */
.about {
  padding: 5px;
  padding-bottom: 500px;
}

.about section {
  padding-top: 20px;
}

.about section p {
  padding-top: 10px;
  font-size: 18px;
}

.about section h2 {
  padding-top: 20px;
  font-size: 24px;
}

.about menu {
  width: 900px;
  background-color: #fff;
  padding: 5px;
}

.about menu.sticked {
  position: fixed;
  top: 0;
}

/* pop-up */

.pop-up {
  position: fixed;
  top: 0;
  background-color: green;
  color: #fff;
  padding: 10px 20px;
  width: 200px;
  right: -200px;
  opacity: 0;
  transition: 0.5s;
}

.pop-up.active {
  right: 0;
  opacity: 1;
}

/* create-car */
.create-car {
  padding: 20px 5px;
}

.create-car form {
  margin: 0 auto;
  display: block;
  width: 400px;
}

.create-car form input,
.create-car form select,
.create-car form textarea,
.create-car form label {
  display: block;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.create-car form button {
  padding: 5px 10px;
}

/* Main menu */
.btn {
  border: 2px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  border: 2px solid #ccc;
}

.btn:active {
  box-shadow: inset 0 0 5px #000000;
}

.menu-container {
  position: fixed;
  width: 200px;
  height: fit-content;
  top: -90px;
  left: 0;
  display: flex;
  flex-direction: column;
  transform-origin: 0px 90px;
  transform: rotate(90deg);
  transition-property: transform;
  transition-duration: 500ms;
}

.rotate {
  transform: rotate(0deg);
}

.menu__block {
  width: 100%;
  padding: 20px;
}

.menu__block_burger {
  height: 90px;
}

.btn__burger {
  width: 50px;
  height: 50px;
  transform: rotate(-90deg);
  font-size: 30px;
  line-height: 30px;
}

.menu__block_list {
  flex-grow: 1;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #eeeeee;

  transition-property: height;
  transition-duration: 1s;
}

.menu a {
  display: block;
  height: 20px;
}

.menu a:first-child {
  margin-top: 40px;
}

.menu-dropped {
  height: 250px;
}

.btn__menu {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 10px;
}

/* about */
.about {
  padding: 5px;
  padding-bottom: 500px;
}

.about section {
  padding-top: 20px;
  position: relative;
}

.about section p {
  padding-top: 10px;
  font-size: 18px;
}

.about section h2 {
  padding-top: 20px;
  font-size: 24px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.about menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  background-color: #fff;
  padding: 5px;
}

.about menu.sticked {
  position: fixed;
  flex-direction: column;
  width: 150px;
  height: 130px;
  top: 90px;
  right: 80px;
}